<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ufuk-Demo-Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="{{ url_for('Index') }}" class="logo">Ufuk-Test</a>
				{% if login_auth == False %}
				<nav class="right">
					<a href="{{ url_for('Login') }}" class="button alt">Log in</a>
				</nav>
				{% else %}
				<nav class="right">
				<a href="{{ url_for('Logout') }}" class="button alt">{{ username }} - Log Out</a>
				</nav>
				{% endif %}
			</header>
		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{ url_for('Index') }}">Home</a></li>
					<li><a href="{{ url_for('ContactList') }}">Contact List</a></li>
					<li><a href="{{ url_for('Contact') }}">Contact</a></li>
				</ul>
				{% if login_auth == False %}
				<ul class="actions vertical">
					<li><a href="{{ url_for('Login') }}" class="button fit">Login</a></li>
				</ul>
				{% else %}
				<ul class="actions vertical">
					<li>><a href="{{ url_for('Logout') }}" class="button fit">{{ username }} - Log Out</a></li>
				</ul>
				{% endif %}
			</nav>

			{% block body_content %}
			{% endblock %}


			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>