{% extends 'base.html' %}

{% block body_content %}

<section id="one" class="wrapper">
    <div class="inner">
               <!-- Form -->
        <h3>Login Form</h3>

        <form method="post" action="{{ url_for('Login') }}">
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="username" id="username" value="" placeholder="User Name"/>
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="password" name="password" id="password" value="" placeholder="Password"/>
                </div>

                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Sign In"/></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}